<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="schemaHandlerFilter" class="cz.cvut.dp.nss.filter.SchemaHandlerFilter">
        <property name="timeTableService" ref="timeTableServiceImpl"/>
        <property name="threadScope" ref="threadScope"/>
        <property name="apiPath" value="/api/v1/"/>
    </bean>

</beans>