<div class="col-md-6 col-md-offset-3" *ngIf="timeTable">
  <h2>Detail jízdního řádu</h2>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" class="form-control" name="id" id="id" value="{{timeTable.id}}" disabled />
    </div>
    <div class="form-group">
      <label for="name">Název:</label>
      <input type="text" class="form-control" name="name" id="name" [(ngModel)]="timeTable.name" required />
    </div>
    <div class="form-group">
      <label for="valid">Aktivní:</label>
      <input type="checkbox" class="form-control" name="valid" id="valid" [(ngModel)]="timeTable.valid" />
    </div>
    <div class="form-group">
      <button [disabled]="!f.form.valid || loading" class="btn btn-success pull-right" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Uložit</button>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>

  <div class="row margin-top-20">
    <div class="col-md-12">
      <button type="button" class="btn btn-default" (click)="downloadGtfs()">Stáhnout jízdní řád</button>
    </div>
  </div>
  <div class="row margin-top-20">
    <div class="col-md-12">
      <div class="alert alert-info">Stažení jízdního řádu může trvat i několik minut. Během zpracování požadavku se prosím vyhněte interakci s aplikací.</div>
    </div>
  </div>

</div>