<h2>Seznam jízdních řádů:</h2>
<ul class="timeTables">
    <li *ngFor="let timeTable of timeTables"
        [class.selected]="timeTable === selectedTimeTable"
        (click)="goToDetail(timeTable)">
        <span class="badge">{{timeTable.id}}</span>
        {{timeTable.name}}
        <!--<button class="delete" (click)="delete(timeTable); $event.stopPropagation()">x</button>-->
    </li>
</ul>

<!--<h4>Vložit</h4>-->
<!--<div>-->
    <!--<div>-->
        <!--<input [(ngModel)]="newTimeTable.id" placeholder="id"/>-->
    <!--</div>-->
    <!--<div>-->
        <!--<input [(ngModel)]="newTimeTable.name" placeholder="name"/>-->
    <!--</div>-->
    <!--<div>-->
        <!--<label>valid: </label>-->
        <!--<input type="checkbox" [(ngModel)]="newTimeTable.valid"/>-->
    <!--</div>-->
    <!--<button (click)="add();">Uložit</button>-->
<!--</div>-->