<div class="col-md-6 col-md-offset-3" *ngIf="timeTable?.synchronizing">
  <h2>Detail jízdního řádu {{timetable?.id}}</h2>
  <div class="alert alert-warning">Právě probíhá nahrávání dat jízdního řádu. Po dokončení se jízdní řád automaticky odemkne. Pro projevení odemčení je nutné přenačíst stránku.</div>
</div>

<div class="col-md-6 col-md-offset-3" *ngIf="timeTable && !timeTable.synchronizing">
  <h2>Detail jízdního řádu</h2>

  <div *ngIf="timeTable?.synchronizationFailMessage" class="alert alert-danger">
    Poslední import jízdního řádu nedoběhl v pořádku. Pro správnou funkčnost je nezbytné import zopakovat.<br/><br/>
    <strong>Chyba:</strong> {{timeTable.synchronizationFailMessage}}
  </div>

  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" class="form-control" name="id" id="id" value="{{timeTable.id}}" disabled />
    </div>
    <div class="form-group">
      <label for="name">Název:</label>
      <input type="text" class="form-control" name="name" id="name" [(ngModel)]="timeTable.name" required />
    </div>
    <div class="form-group">
      <label for="maxTravelTime"
             title="Slouží pro účely vyhledávání. Pokud se nenajdou výsledky nejvýše v tomto čase od času výjezdu, tak se vyhledávání ukončí">
        Maximální čas cesty v hodinách:
      </label>
      <input type="number" min="1" max="23" class="form-control" name="maxTravelTime" id="maxTravelTime" [(ngModel)]="timeTable.maxTravelTime" required />
    </div>
    <div class="form-group">
      <label for="valid">Aktivní:</label>
      <input type="checkbox" class="form-control" name="valid" id="valid" [(ngModel)]="timeTable.valid" />
    </div>
    <div class="form-group">
      <button [disabled]="!f.form.valid || loading" class="btn btn-success pull-right" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Uložit</button>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>

  <hr/>
  <h3>Stažení jízdního řádu</h3>
  <div class="row margin-top-20">
    <div class="col-md-12">
      <button type="button" class="btn btn-default pull-right" (click)="downloadGtfs()">Stáhnout jízdní řád</button>
    </div>
  </div>
  <div class="row margin-top-20">
    <div class="col-md-12">
      <div class="alert alert-info">Stažení jízdního řádu může trvat i několik minut. Během zpracování požadavku se prosím vyhněte interakci s aplikací.</div>
    </div>
  </div>

  <hr/>
  <h3>Nahrání jízdního řádu</h3>
  <div class="row margin-top-20">
    <div class="col-md-8">
      <label class="btn btn-default btn-file">
        Zvolit jízdní řád... <input type="file" (change)="fileChange($event)" placeholder="Jízdní řád" accept=".zip" style="display:none;">
      </label>
      <span class="margin-left-10">{{file?.name}}</span>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-default pull-right" (click)="uploadGtfs()" [disabled]="!file">Nahrát jízdní řád</button>
    </div>
  </div>
  <div *ngIf="fileError" class="alert alert-danger">{{fileError}}</div>
  <div class="row margin-top-20">
    <div class="col-md-12">
      <div class="alert alert-info">Po potvrzení nahrání souboru jízdních řádů na server začne import dat o jízdních řádech. Během importu dat nebude možné tento jízdní řád nijak upravovat. Po dokončení importu se jízdní řád automaticky odemkne pro vyhledávání a úpravy.</div>
    </div>
  </div>
</div>