/* FORMS */
input.ng-valid[required], select.ng-valid[required], input.ng-valid.required, select.ng-valid.required, .ng-valid[required] > div > input, .ng-valid.required > div > input {
    border-left: 5px solid #42A948;
}

input.ng-invalid:not(form), select.ng-invalid:not(form), .ng-invalid > div:not(.form-group) > input, .ng-invalid > div:not(.form-group) > div > input {
    border-left: 5px solid #a94442;
}

.ng-invalid > div:not(.form-group) > div > input {
    border-left: 5px solid #a94442 !important;
}

.ng-valid > div > div > input[required] {
    border-left: 5px solid #42A948;
}

.vertical-middle {
    vertical-align: middle !important;
}

.selected {
    background-color: #CFD8DC !important;
    font-weight: bold;
    color: #000;
}

.edit-icon {
    font-size: 30px;
    line-height: 37px;
    padding-left: 4px;
    padding-top: 3px;
}

ul.pagination li a {
    cursor: pointer;
}

.sorting-head i {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.align-center {
    text-align: center;
}

.table tbody tr td {
    vertical-align: middle;
}

.margin-top-0 {margin-top: 0;}
.padding-top-20 {padding-top: 20px;}
.margin-bottom-10 {margin-bottom: 10px;}

.clearfix {
    clear: both;
}

.width-100 > div > div.date {
    width: 100%;
}